/*----------------------- BODY -----------------------------*/
body {
  background-image: url("./pictures/background2.png");
  background-repeat: no-repeat;
  background-size: 110%;
}

/*----------------------- MAIN -----------------------------*/
#content {
  width: 100%;
  height: 700px;
  margin-bottom: 30px;
}

#p1 {
  width: 400px;
  height: 380px;
  padding: 30px;
  margin-top: 150px;
  margin-left: 150px;
  background-color: none;
}

#spaceCraft {
  height: 1000px;
  margin-right: 100px;
  float: right;
  margin-top: -400px;
}

#quote {
  width: 400px;
  height: 230px;
  margin-top: 30px;
  padding: 30px;
  margin-left: 150px;
  background-color: none;
  border: solid 1px white;
}

#p2 {
  width: 400px;
  height: auto;
  padding: 30px;
  margin-left: 150px;
  background-color: none;
  margin-top: 50px;
}

/*----------------------- MEDIA QUERIES -----------------------------*/
@media only screen and (max-width: 900px) {

  /*<----------------- DESKTOP --------------------*/
  #p1 {
    height: 340px;
    margin-top: 80px;
    margin-left: 40px;
    padding-bottom: 0px;
  }

  #spaceCraft {
    margin-right: 0px;
    height: 700px;
  }

  #quote {
    margin-top: 0px;
    margin-left: 40px;
    height: 150px;
  }

  #p2 {
    margin-left: 40px;
    margin-top: -100px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 750px) {

  /*<----------------- TABLET --------------------*/
  #p1 {
    width: 70%;
    margin: auto;
    height: 280px;
  }

  #spaceCraft {
    display: none;
  }

  #quote {
    width: 70%;
    margin: auto;
  }

  #p2 {
    width: 70%;
    height: 220px;
    margin: auto;
  }

  #content {
    height: 550px;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 600px) {

  /*<----------------- PHONE --------------------*/
  #p1 {
    height: auto;
    width: 80%;
  }

  #quote {
    height: auto;
    width: 80%;
    font-style: italic;
  }

  #content {
    margin-top: 40px;
    height: auto;
  }

  #p2 {
    width: 80%;
    height: auto;
    margin: auto;
  }
}
