/*----------------------- HEADER -----------------------------*/
header {
  height: 550px;
  background-image: url("./pictures/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #060709;
}

#logo {
  width: 200px;
  left: 35%;
}

/*----------------------- MAIN -----------------------------*/
main {
  width: 100%;
}

.centered-paragraph {
  width: 50%;
  padding: 0% 20%;
  margin: auto;
  margin-bottom: 30px;
  color: white;
  font-family: mySecondFont;
  text-align: center;
}

/*----------------------- MENU -----------------------------*/
.menu-button {
  text-align: center;
}

.menu {
  width: 100%;
  height: auto;
  padding-top: 30px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

#menu-icon {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  height: 120px;
  margin: 5px 45px;
  animation: spin 2s linear infinite;
}

#menu-icon:hover {
  border: 3px solid #ec4173;
  transition: 0.30s;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*----------------------- MEDIA QUERIES -----------------------------*/
@media only screen and (max-width: 900px) {

  /*<----------------- DESKTOP --------------------*/
  .nav-container {
    display: none;
  }

  #menu-icon {
    height: 90px;
    margin: 5px 45px;
  }

  header {
    height: 400px;
  }
}

@media only screen and (max-width: 750px) {

  /*<----------------- TABLET --------------------*/
  .centered-paragraph {
    padding: 0%;
    width: 80%;
  }

  header {
    height: 300px;
  }

  #menu-icon {
    height: 90px;
    margin: 10px 50px;
  }

  .menu {
    width: 70%;
    line-height: 2px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 600px) {

  /*<----------------- PHONE --------------------*/
  header {
    height: 210px;
  }

  .menu {
    width: 80%;
  }

  #menu-icon {
    height: 60px;
    margin: 10px 20px;
  }
}
